<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>READS | A Virtual Library, Like For Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/landing.css">
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script defer type="text/javascript" src="/js/ui.js"></script>
    <script defer type="text/javascript" src="/js/app.js"></script>
</head>

<body>
    <header>
        <nav class="container">
            <a href="#">
                <div class="">
                    READS
                </div>
                <div class="">
                    by galvanize
                </div>
            </a>
            <ul>
                <li><a href="#contact">contact us</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/me/create">get started</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="landing">
            <div class="container">
                <h1>Stand On The Shoulders Of Giants</h1>
                <p>Follow literature reels from elite Technology Instructors and Senior Developers.</p>
                <button type="button" name="button">get started</button>
            </div>
        </section>
        <section id="popular-reels">
            <div class="container">
                <h2>Trending Now</h2>
                <ul id="feed" class="conatiner">
                </ul>
            </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>
